{% extends 'base.html.twig' %}

{% block body %}
    <div class="px-4 d-flex">
        {{ include('components/categories.html.twig') }}

        <div class="center-img">
            <img src="{{ asset('images/petsHomepg.jpg') }}" alt="Pets" width="70%" class="m-5">
        </div>

    </div>

{% endblock %}