:root {
    --white: #fff;
}
body {
    font-family: spartan;
    color: #444;
}

.jumbotron-img {
    background: rgb(237,116,88);
    background: linear-gradient(302deg, rgba(237,116,88,1) 16%, rgba(51,61,81,1) 97%);
    color: #fff;
}

.q-container {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    background-color: #efefee;
}

.q-container-show {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    background-color: #ED7458 ;
}

.q-container img, .q-container-show img {
    border: 2px solid #fff;
    border-radius: 50%;
}

.q-display {
    background: #fff;
    border-radius: .25rem;
}
.q-title-show {
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #fff;
}
.q-title {
    text-transform: uppercase;
    color: #444;
}

.q-title:hover {
    color: #2B2B2B;
}

.q-title h2 {
    font-size: 1.3rem;
}

.q-display-response {
    background: #333D51;
    color: #fff;
}

.answer-link:hover .magic-wand {
  transform: rotate(20deg);
}

.vote-arrows {
    font-size: 1.5rem;
}

.vote-arrows span {
    font-size: 1rem;
}

.vote-arrows a {
    color: #444;
}

.vote-up:hover {
    color: #3D9970;
}
.vote-down:hover {
    color: #FF4136;
}

.btn-question { 
  color: #FFFFFF; 
  background-color: #ED7458; 
  border-color: #D45B3F; 
} 
 
.btn-question:hover, 
.btn-question:focus, 
.btn-question:active, 
.btn-question.active, 
.open .dropdown-toggle.btn-question { 
  color: #FFFFFF; 
  background-color: #D45B3F; 
  border-color: #D45B3F; 
} 
 
.btn-question:active, 
.btn-question.active, 
.open .dropdown-toggle.btn-question { 
  background-image: none; 
} 
 
.btn-question.disabled, 
.btn-question[disabled], 
fieldset[disabled] .btn-question, 
.btn-question.disabled:hover, 
.btn-question[disabled]:hover, 
fieldset[disabled] .btn-question:hover, 
.btn-question.disabled:focus, 
.btn-question[disabled]:focus, 
fieldset[disabled] .btn-question:focus, 
.btn-question.disabled:active, 
.btn-question[disabled]:active, 
fieldset[disabled] .btn-question:active, 
.btn-question.disabled.active, 
.btn-question[disabled].active, 
fieldset[disabled] .btn-question.active { 
  background-color: #ED7458; 
  border-color: #D45B3F; 
} 
 
.btn-question .badge { 
  color: #ED7458; 
  background-color: #FFFFFF; 
}

footer {
    background-color: #efefee;
}

.animal-types {
    color: var(--white);
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
}

.animal-types:hover {
    cursor: pointer;
    color: var(--white);
    font-size: xx-large;
}

.center-img {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.category-banner {
    width: 30%;
}

.red-badge {
    padding: 5px;
    border-radius: 10px;
    color: white;
    background-color: #d00000;
}

.green-badge {
    padding: 5px;
    border-radius: 10px;
    color: white;
    background-color: #09ef09;
}

.checkout-button {
    text-decoration: none;
    color: #2B2B2B;
    padding-left: 87%;
    font-weight: 900;
    font-size: 20px;
    margin-top: 20px;
}

.checkout-button:hover {
    color: #2B2B2B;
}

.back-to-cart {
    text-decoration: none;
    color: #2B2B2B;
    font-weight: 900;
    font-size: 20px
}

.back-to-cart:hover {
    color: #2B2B2B;
}

.float-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.place-order-button {
    border: none;
    background-color: #fff;
    font-size: 25px;
    font-weight: bolder;
    color: #2B2B2B;
    text-decoration: none;
}

.place-order-button:hover {
    color: #2B2B2B;
}

.order-list {
    font-weight: bolder;
    padding-right: 10px;
}

.order-address {
    padding-left: 10px;
    font-size: 17px;
}

.pagination {
    float: right;
    padding-right: 20px;
}

.price-range {
    width: 70px;
    border-radius: 8px;
    border-color: mediumseagreen;
    margin-top: 20px;
    border-width: 1px;
}

.sort-dropdown {
    width: 170px;
    border-radius: 8px;
    border-color: mediumseagreen;
    margin-top: 20px;
    border-width: 1px;
}

.filter-button {
    border: none;
    background-color: white;
    width: 200px;
}

.filter-choose-button {
    border-color: mediumseagreen;
    border-radius: 8px;
    background-color: white;
    width: 150px;
}

* {box-sizing:border-box}

.slideshow-container {
    max-width: 70%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: transparent;
}

.fade {
    animation-name: fade;
    animation-duration: 100000000s;
}

@keyframes fade {
    from {opacity: 1}
    to {opacity: 1}
}

.homepage-image {
    width: 100%;
    border-radius: 20px;
}
