<div class="category-banner" style="padding-top: 20px">
    {% set categories = ['Dogs', 'Cats', 'Birds'] %}
    {% for category in categories %}
        <ul class="nav flex-column">
            <li class="nav-item">
                <hr class="mb-2" style="width: 80%">
                <a class="category-menu" href="{{ path('app_products', {category: category}) }}">{{ category }}</a>
                <hr class="mt-1" style="width: 80%">
            </li>
            {% for categorySubcategory in categorySubcategories %}
                {% set categoryName = categorySubcategory.category.animalType %}
                {% set subcategoryName = categorySubcategory.subcategory.name %}
                {% if categoryName == category %}
                    <li class="nav-item">
                        <a class="subcategory-menu" href="{{ path('app_products', {category: categoryName, subcategory: subcategoryName}) }}">{{subcategoryName}}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}
</div>
