<div class="category-banner" style="padding-top: 20px">
    {% set categories = ['Dogs', 'Cats', 'Birds'] %}
    {% for category in categories %}
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_products', {category: category}) }}" style="font-size: xx-large; color: #444444">{{ category }}</a>
            </li>
            {% for categorySubcategory in categorySubcategories %}
                {% set categoryName = categorySubcategory.category.animalType %}
                {% set subcategoryName = categorySubcategory.subcategory.name %}
                {% if categoryName == category %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_products', {category: categoryName, subcategory: subcategoryName}) }}" style="margin-left: 20px; color: #444444">{{subcategoryName}}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}
</div>
