<footer class="mt-5 p-3 text-center font-weight-bold" style="background-color: mediumseagreen; color: #efefee">
    Contact Us
    <form style="text-align: center; color: #efefee">
        Phone Number: 0752486632
        <form style="text-space: 1"></form>
        Email: animax@email.com
    </form>
</footer>
