<nav class="d-flex justify-content-around align-items-center" style="background-color: mediumseagreen; height: 70px">
    <a href="#" class="animal-types">Dogs</a>
    <a href="#" class="animal-types">Cats</a>
    <a href="#" class="animal-types">Birds</a>
</nav>