<nav class="d-flex justify-content-around align-items-center" style="background-color: mediumseagreen; height: 70px">
    <a href="{{ path('app_products', {category: 'Dogs'}) }}" class="animal-types">Dogs</a>
    <a href="{{ path('app_products', {category: 'Cats'}) }}" class="animal-types">Cats</a>
    <a href="{{ path('app_products', {category: 'Birds'}) }}" class="animal-types">Birds</a>
</nav>